<h1 class="mt-5 mb-4">Compound Interest Calculator</h1>

<label for="principal" class="mt-4">Principal:</label>
<input type="number" step="0.1" class="form-control mt-1" id="principal" [(ngModel)]="c">

<label for="interest" class="mt-4">Interest Rate:</label>
<input type="number" step="0.1" class="form-control mt-1" id="interest" [(ngModel)]="i">

<label for="time" class="mt-4">Time Period:</label>
<input type="number" class="form-control mt-1" id="time" [(ngModel)]="t">

<h2 class="mt-5 mb-4">Result</h2>

<table class="table mt-5">
  <thead>
    <tr>
      <th>Time Index</th>
      <th>Total Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let resultado of showMeTheMoney(c,i,t); index as indice">
      <td>{{indice+1}}</td>
      <td>{{resultado | currency}}</td>
    </tr>
  </tbody>
</table>