<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container container-xxl">
    <a class="navbar-brand" [routerLink]="['/']">{{title}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Basics
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" [routerLink]="['/conditional-greeting']">Conditional Greeting</a></li>
            <li><a class="dropdown-item" [routerLink]="['/random-numbers']">Random Numbers</a></li>
            <li><a class="dropdown-item" [routerLink]="['/calculator/multiplication-table']">Multiplication Table</a></li>
            <li><a class="dropdown-item" [routerLink]="['/discs']">Disc Collection</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            User Inputs
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" [routerLink]="['/calculator/simple-interest']">Simple Interest</a></li>
            <li><a class="dropdown-item" [routerLink]="['/calculator/compound-interest']">Compound Interest</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Services
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" [routerLink]="['/log']">Application Log</a></li>
            <li><a class="dropdown-item" [routerLink]="['/task-list']">Task List Manager</a></li>
            <li><a class="dropdown-item" [routerLink]="['/bitcoin-wallet']">Bitcoin Wallet</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Using APIs
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" [routerLink]="['/github']">GitHub Repositories</a></li>
            <li><a class="dropdown-item" [routerLink]="['/bitcoin-exchange-rate']">Bitcoin Exchange Rate</a></li>
            <li><a class="dropdown-item" [routerLink]="['/firebase']">Firebase Authentication and Database</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<main class="container container-xxl">
<router-outlet></router-outlet>
</main>
<footer class="mt-5">
  <p class="text-center">Developed by <a href="https://matheusmisumoto.dev/" target="_blank">Matheus Misumoto</a></p>
</footer>