<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container container-xxl">
    <a class="navbar-brand" [routerLink]="['/']">Angular Classes Archive</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/github']">Repositórios no GitHub</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<main class="container container-xxl">
<router-outlet></router-outlet>
</main>
<footer class="mt-5">
  <p class="text-center">Developed by <a href="https://matheusmisumoto.dev/" target="_blank">Matheus Misumoto</a></p>
</footer>