<h1 class="mt-5 mb-3">Firebase Authentication and Database</h1>
<p>This component uses Google Firebase to create an authentication page to a restrict area of the website.
    The user can login using a registered email and password, or login with a Google Account.
	Once logged in, the user can add and remove entries to a list stored on Realtime Database.
    <strong>Due to service limitations, live demonstration of this project might not be available.</strong> The working source code is available on <a href="https://github.com/matheusmisumoto/angular-classes-archive" target="_blank" rel="noopener noreferrer">GitHub</a>.</p>

<div class="mt-5" *ngIf="!(authService.user | async)">

	<div *ngIf="authService.authError" class="alert container alert-danger" role="alert">{{ authService.authError }}
	</div>

	<div class="card container">
		<div class="card-body">
			<div class="form-group">
				<label for="email">Email</label>
				<input type="email" class="form-control" id="email" name="email" [(ngModel)]="email">
			</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" class="form-control" id="password" name="password" [(ngModel)]="password">
                </div>
				<button type="submit" class="btn btn-primary container mt-3" (click)="loginWithEmail()">Sign in</button>
				<button type="submit" class="btn btn-secondary container mt-3" (click)="loginWithGoogle()">Sign in with Google</button>
		</div>
	</div>
</div>



<div class="mt-5" *ngIf="authService.user | async">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="navbar-nav mr-auto">Logged in as {{(authService.user | async)?.email}}</div>
		<button class="btn btn-danger" href="#" (click)="logout()">Logout</button>
	</nav>

	<h2 class="my-5">Firebase Realtime Database entries</h2>

	<div class="card my-5">
		<div class="card-body">
			<div class="form-group">
				<input [(ngModel)]="text" class="form-control">
			</div>
			<button class="btn btn-primary container" [disabled]="!text" (click)="addItem()">Insert</button>
		</div>
	</div>
	
	<div *ngIf="(list | async).length == 0" class="alert container alert-dark" role="alert">No entry found in Realtime Database.</div>

	<table  *ngIf="(list | async).length > 0" class="table">
		<tr *ngFor="let item of list | async">
			<td [title]="['key: ' + item.key]" class="container align-middle">{{item.text}}</td>
			<td><button class="btn btn-danger btn-sm" (click)="deleteItem(item.key)">Remove</button></td>
		</tr>
	</table>

</div>