<h1 class="mt-5 mb-3">Task List</h1>
<p class="mb-5">Demonstrate the concept of services in Angular with a task list managed by user input.</p>

<h2 class="my-3">Add new task</h2>

<div class="card mb-5">
    <div class="card-body">
        <div class="form-group mb-3">
            <input type="text" [(ngModel)]="task" class="form-control" id="newtask" placeholder="Insert a new task">
        </div>
        <button type="submit" [disabled]="!task" (click)="this.tasks.add(task); task=''" class="btn btn-primary container p-2">Submit</button>
    </div>
</div>


<h2 class="mt-5 mb-3">Tasks</h2>

<div *ngIf="this.tasks.getList().length == 0" class="alert container alert-dark" role="alert">You have no tasks registered.</div>


<ul *ngIf="this.tasks.getList().length > 0" class="list-group">
    <li *ngFor="let task of this.tasks.getList(), index as i" class="list-group-item d-flex flex-row justify-content-between align-items-center">
        <div class="flex-xxl-fill overflow-x-hidden text-overflow">{{task.title}}</div>
        <div><button class="btn btn-danger btn-sm" (click)="this.tasks.remove(i)">Remove</button></div>
    </li>
</ul>