/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
body, app-root { font-family: Inter; display: flex; flex-direction: column; min-height: 100vh; font-size: clamp(1.0625rem,1.5vw,1.125rem); letter-spacing: -.025em; }
main.container { flex: 2; max-width: 650px; }
h1, h2, h3, h4, h5, h6 { font-weight: 700; }
footer { background-color: #E0E0E0; padding: 1.5rem; box-sizing: border-box; }